#foreach($table in $!{obj.tables})
  CREATE TABLE `$!{table.tableName}` (
#foreach($field in $!{table.fields})
#set($fieldStr = "`")
#set($fieldName = $!{field.fieldName})
#set($fieldStr = $fieldStr+$fieldName+"`")
#set($fieldStr = $fieldStr+" "+$!{field.dataType})
#if($!{field.isNotNull})
#set($fieldStr = $fieldStr +" NOT NULL")
#end
#if($!{field.isPrimary})
#set($fieldStr = $fieldStr +" AUTO_INCREMENT")
#end
#if($!{field.defaultValue} != "")
#set($fieldStr = $fieldStr +" DEFAULT '$!{field.defaultValue}'")
#end
#if($!{field.desc} != "")
#set($fieldStr = $fieldStr +" COMMENT '$!{field.desc}'")
#end
#set($fieldStr = $fieldStr +",")
     $fieldStr
#end
#foreach($field in $!{table.fields})
#if($!{field.isPrimary})
     PRIMARY KEY (`$!{field.fieldName}`),
#end
#if($!{field.isUnique})
     UNIQUE KEY `$!{field.uniqueName}` (`field.fieldName`) 
#end
#if($!{field.isJoinUnique})
#set($uniqueFields = "")
#foreach($uniqueField in $$!{field.joinUniqueField})
#set($uniqueFields = $uniqueFields+$uniqueField+",")
#end
#set($uniqueFields = $uniqueFields.substring(0,$uniqueFields-1))
     UNIQUE KEY `$!{field.uniqueName}` (`field.fieldName`) 
#end
#end
  ) ENGINE=InnoDB DEFAULT CHARSET=utf8  #if($!{table.desc}) COMMENT='$!{table.desc}' #end;
#end