#foreach($table in $!{obj.tables})
  CREATE TABLE IF NOT EXISTS `$!{table.tableName}` (
#foreach($field in $!{table.fields})
#set($fieldStr = "`")
#set($fieldName = $!{field.fieldName})
#set($fieldStr = $fieldStr+$fieldName+"`")
#set($fieldStr = $fieldStr+" "+$!{field.dataType})
#if($!{field.notNull})
#set($fieldStr = $fieldStr +" NOT NULL")
#end
#if($!{field.primary})
#set($fieldStr = $fieldStr +" AUTO_INCREMENT")
#end
#if($!{field.defaultValue} != "")
#set($fieldStr = $fieldStr +" DEFAULT '$!{field.defaultValue}'")
#end
#if($!{field.desc} != "")
#set($fieldStr = $fieldStr +" COMMENT '$!{field.desc}'")
#end
#set($fieldStr = $fieldStr +",")
     $fieldStr
#end
#foreach($field in $!{table.fields})
#if($!{field.primary})
     PRIMARY KEY (`$!{field.fieldName}`),
#end
#if($!{field.unique})
#set($uniqueFields = "`$!{field.fieldName}`,")
#if($!{field.joinUniqueField} != "")
#foreach($uniqueField in $$!{field.joinUniqueField})
#set($uniqueFields = $uniqueFields+"`$uniqueField`,")
#end
#end
     UNIQUE KEY `$!{field.uniqueName}` ($uniqueFields uniqueEnd)
#end
#end
  ) ENGINE=InnoDB DEFAULT CHARSET=utf8  #if($!{table.desc}) COMMENT='$!{table.desc}' #end;
  
#end